@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    height: 100%;
}

body {
    background-color: white;
    color: #333;
    font-family: "돋움", Arial, Helvetica, sans-serif;
}

#wrap {
    height: 100%;
}

#up {
    height: calc(100% - 120px);
    /* background-color: red; */
    display: flex;
}

.left {
    width: 200px;
    height: 100%;
    background-color: #ddd;
}

.logo{}

.logo a{
    height: 150px;
    display: block;
    background: url("../images/logo.png") no-repeat center center;
    background-size: contain;
    text-indent: -9999px;
}

.logo1{}

.logo1 a{
    display: block;
    text-align: center;
}
.logo1 a img{
    width:80%;
}

.nav{
    width: 180px;
    margin:20px auto;
    padding-top: 20px;
    border-top: 1px solid gray;
}
.main{}
.main > li{
    margin-bottom: 10px;
}
.main > li >a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(88, 27, 27);
    color: white;
}
.main > li:hover >a{
    background-color: black;
}

.sub{
    display: none;
}

.sub li{}

.sub li a{
    display: block ;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    background-color: #aaa;
    color: white;
    font-weight: 700;
    font-size: 14px;
}
.sub li a:hover{ background-color: black;}


.spot{
    text-align: center;
}
.spot a{
    padding: 0 10px;
    font-weight: bold;
    border-right: 1px solid gray;
    font-size: 12px;
}
.spot a:last-child{
    border: none;
}

.spot a:hover{
    text-decoration: underline;
    color: blue;
}







.center {
    width: 400px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

.banner{
    padding: 20px;
    display: flex;
    flex: 2;
}
.b_1{
    width: 20%;height: 80%;
    margin-right: 10px;
    text-align: center;
    background: url("../images/banner.png") no-repeat center center;
    background-size: cover;
    text-indent: -9999px;
}
.b_txt{width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b_txt h3{ font-size: 13px; margin-bottom: 5px;}
.b_txt p{
    font-size: 12px;

    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.b_3{width: 15%;
    height: 80%;
    background: url("../images/arrow.png") no-repeat center center;
    text-indent: -9999px;
}

.notice{
    flex:3 ;
    padding: 20px;
}
.notice h2{
    width: 100px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    background-color: red;
    color: white;
    border-radius: 10px 10px 0 0 ;
}

.notice ul{
    height: 70%;
    border-top: 5px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.notice ul li{
    display: flex;
    justify-content: space-between;
}
.notice ul li a{
    width: 70%;

    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}
.notice ul li span{}


.gallery{
    flex: 3;
    padding: 20px;
}

.gallery h2{
    width: 100px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    background-color: blue;
    color: white;
    border-radius: 10px 10px 0 0 ;
}

.gallery ul{
    padding-top: 10px;
    height: 70%;
    border-top: 5px solid blue;
    display: flex;    
    justify-content: space-around;
    align-items: center;
}

.gallery ul li{
    height: 90%;
    width: 45%;
}

.gallery ul li a{
    display: block;
    height: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-indent: -9999px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
}

.gallery ul li.g_1 a{
    background-image: url("../images/gallery01.jpg");
}

.gallery ul li.g_2 a{
    background-image: url("../images/gallery2.png");
}

.gallery ul li span{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.link{
    flex: 2;
    padding: 20px;
}
.link ul{
    display:flex;
    height: 100%;
    justify-content: space-between;
}
.link ul li{
    width: 23%;
    height: 80%;
}
.link ul li a{
    display: block;
    height: 90% ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    text-indent: -9999px;
    box-shadow: 1px 1px 5px gray;
}
.link ul li span{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.link ul li.link1 a{
    background-image: url("../images/building.png");
}
.link ul li.link2 a{
    background-image: url("../images/map.png");
}
.link ul li.link3 a{
    background-image: url("../images/warning.png");
}
.link ul li.link4 a{
    background-image: url("../images/telephone-call.png");
}




.img_slide {
    width: calc(100% - 200px - 400px);
    background-color: #aaa;
    position: relative;  /* left_move positioning */
    overflow: hidden;
}

.left_move{
    position: absolute;
    left: 0;
    top: 0;
    width: 300%;
    height: 100%;
}

.left_move li{
    float: left;
    height: 100%;
    width: calc(100% / 3);
}

.left_move li a{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}

.left_move li.left_1 a{
    background-image: url("../images/s1.jpg");
}

.left_move li.left_2 a{
    background-image: url("../images/s2.jpg");
}

.left_move li.left_3 a{
    background-image: url("../images/s3.jpg");
}

#down{
    height: 120px;
    display: flex;
}

.f_logo{
    width: 200px;
    height: 100%;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f_logo p{
    width: 180px;
    height: 80%;
    background: url("../images/logo.png") no-repeat;
    background-size: contain;
    background-position: center center;
    text-indent: -9999px;
}

.f_right{
    width: calc(100% - 200px);
    background-color: violet;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.f_menu{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f_menu a{
    padding: 0 20px;
    border-right: 1px solid gray;
}

.f_menu a:last-child{
    border: none;
}

.f_menu a:hover{
    text-decoration: underline;
}

.copy{
    flex-basis: 50%;
    padding: 20px 0 0 20px;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: 200;
}


.popup{
    width: 400px;
    height: 680px;
    border: 10px groove red;
    background-color: wheat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:  translate(-50%, -50%);
    z-index: 250;
    padding: 10px;
    text-align: center;

}

.popup h3{
    padding: 10px 0;
    border-bottom: 2px dotted gray;
}

.popup a{
    display: block;
    padding: 10px 0;
}

.popup .close{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px 10px;
}
